
@{
    ViewBag.Title = "用户信息";
    Layout = "~/Views/Shared/_ParentPage1.cshtml";
}

<style>
    .tablepage {
        width: 100%;
        height: 500px;
    }
</style>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">有效订单</h3>
    </div>
    <div class="panel-body">
        <table class="layui-table tablepage" lay-data="{url:'/UserInfo/UserInfoGet', page:true, id:'idTest'}" lay-filter="demo">
            <thead>
                <tr>
                    <th lay-data="{align:'center',field:'UserInfo_Name'}">姓名</th>
                    <th lay-data="{align:'center',field:'Sex'}">性别</th>
                    <th lay-data="{align:'center',field:'ID_Num'}">身份证号</th>
                    <th lay-data="{align:'center',field:'Phone_Num'}">手机号</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui-v2.4.5/layui/layui.all.js"></script>