
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_ParentPage1.cshtml";
}
<style>
    #popupcontent {
        position: absolute;
        visibility: hidden;
        overflow: hidden;
        border: 1px solid #00ffff;
        background-color: #0094ff;
        border: 1px solid #333;
        padding: 5px;
    }
</style>

<style>
    #win {
        /*窗口的高度和宽度*/
        width: 500px;
        height: 300px;
        /*窗口的位置*/
        position: absolute;
        top: 200px;
        left: 700px;
        /*开始时窗口不可见*/
        display: none;  
        color: blueviolet;
        padding-left: 3px;
    }
    #titel
    { 
        /*窗口的高度和宽度*/
        width:360px;
        height: 100px;
        margin-top:100px;
        margin-left:60px; 
        color: blueviolet;
        padding-left: 3px;
        font-size:larger;
        font-weight:bolder;
    }
</style>

<div id="win">
    <div id="titel">
        <span>
            对不起您无权访问该页面，将在三秒后跳回<a href="/Admin/Index">主页</a>
        </span>
    </div>
</div>


<script>
    $(function () {
        //setTimeout("location.href='/Admin/Index'", 2000);
        var winNode = $("#win");
        //方法1：利用js修改css的值，实现显示效果
         winNode.css("display", "block");
        //方法2：利用jquery的show方法，实现显示效果
        //winNode.show("slow");
        //方法3：利用jquery的fadeIn方法或slideDown方法实现动画效果
        //winNode.fadeIn(2000);
        //winNode.slideDown(2000);

        setTimeout("location.href='/Admin/Index'",3000)
    });
</script>
