
@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_ParentPage1.cshtml";
}


<h2 style="color:darkblue;font-size:50px;margin-left:500px;margin-top:0 auto">欢迎使用缘启酒店系统</h2>
<div class="inner-block">
    <div class="market-updates">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-1">
                <div class="col-md-8 market-update-left">
                    <a href="/UserInfo/UserInfoIndex">
                        <h3>11</h3>
                        <h4>注册用户</h4>
                        <p></p>
                    </a>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-file-text-o"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-2">
                <div class="col-md-8 market-update-left">
                    <h3>23</h3>
                    <h4>浏览过</h4>
                    <p></p>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-eye"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-3">
                <a href="/Order/Show">
                    <div class="col-md-8 market-update-left">
                        <h3>11</h3>
                        <h4>最新订单</h4>
                        <p></p>
                    </div>
                </a>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-envelope-o"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

