
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="/Admin/Login">
    用户名：<input type="text" name="userName" value="" />
    密码：<input type="text" name="pwd" value="" />
       <input id="Submit1" type="submit" value="submit" />
</form>

