
@{
    ViewBag.Title = "订单信息";
    Layout = "~/Views/Shared/_ParentPage1.cshtml";
}
<style>
    .tablepage {
        width: 100%;
        height: 500px;
    }
</style>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">有效订单</h3>
    </div>
    <div class="panel-body">
        <table class="layui-table tablepage" lay-data="{url:'/Order/Data', page:true, id:'idTest'}" lay-filter="demo">
            <thead>
                <tr>
                    <th lay-data="{align:'center',field:'Order_Id'}">编号</th>
                    <th lay-data="{align:'center',field:'Phone_Num'}">手机号</th>
                    <th lay-data="{align:'center',field:'Room_Num'}">房间号</th>
                    <th lay-data="{align:'center',field:'Checkln_Time',templet:'#time'}">入住时间</th>
                    <th lay-data="{align:'center',field:'Leave_Time',templet:'#time'}">退房时间</th>
                    <th lay-data="{align:'center',field:'Money_Should'}">应付金额</th>
                    <th lay-data="{align:'center',field:'Money_Favorable'}">优惠金额</th>
                    <th lay-data="{align:'center',field:'Money_Received', sort: true}">实收金额</th>
                    <th lay-data="{align:'center',field:'Order_Time'}">下单时间</th>
                    <th lay-data="{align:'center', toolbar: '#barDemo'}">操作</th>
                </tr>
            </thead>
        </table>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">入住</a>
        </script>
        <script type="text/html" id="time">
            {{# if(d.Checkln_Time==='0001-01-01T00:00:00'||d.Leave_Time==='0001-01-01T00:00:00')}}
            {{''}}
        </script>
    </div>
</div>
<link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui-v2.4.5/layui/layui.all.js"></script>
<script>
    $(function () {

        layui.use('table', function () {
            var table = layui.table;
            //监听工具条
            table.on('tool(demo)', function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    console.log(obj);
                    let op = layer.open({
                        type: 1,
                        title: '开房记录登记',
                        skin: 'layui-layer-demo', //样式类名
                        closeBtn: 1, //不显示关闭按钮
                        anim: 1,
                        btn: ['确定'],
                        btnAlign: 'c',
                        resize: false,
                        content: '<div id="upt"><table><input type="hidden" id="uid" style="width:250px;height:300px;"/><tr><td>姓名:</td><td><input type="text" id="name"></td></tr><tr><td>性别:</td><td><input type="text" id="sex"></td></tr><tr><td>身份证号:</td><td><input type="text" id="cid"></td></tr></table></div>',
                        yes: function (index, layero) {
                            var uid = layero.find('#uid');
                            var name = layero.find('#name');
                            var sex = layero.find('#sex');
                            var cid = layero.find('#cid');
                            console.log(uid);
                            $.ajax({
                                url: '/order/upt',
                                type: 'post',
                                //data: {uid,name,sex,cid},
                                success: function (e) {
                                    if (e > 0) {
                                        obj.del();
                                        layer.msg('OK', { time: 1000 })
                                        layer.close(op);
                                    }
                                }
                            })
                        },
                        success: function (layero, index) {
                            var body = layui.layer.getChildFrame('upt', index);
                            console.log(layero);
                            console.log(layui);
                            if (data) {
                                body.find("#uid").val(data.User_Id);
                                body.find("#name").val(data.Phone_Num);

                            }
                        }
                    });
                };
            });
        });

    })
</script>
