@model IEnumerable<dynamic>
@{
    ViewBag.Title = "订单信息";
    Layout = "~/Views/Shared/_ParentPage1.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Basic Data Tables with responsive plugin</h3>
    </div>
    <div class="panel-body">
        <table id="demo-dt-basic" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>手机号</th>
                    <th>房间编号</th>
                    <th>入住时间</th>
                    <th>退房时间</th>
                    <th>应付金额</th>
                    <th>优惠金额</th>
                    <th>实收金额</th>
                    <th>下单时间</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>item.Order_Id</td>
                        <td>item.Phone_Num</td>
                        <td>item.Room_State</td>
                        <td>item.CheckIn_Time</td>
                        <td>item.Leave_Time</td>
                        <td>item.Money_Should</td>
                        <td>item.Money_Favorable</td>
                        <td>item.Money_Received</td>
                        <td>item.Order_Time</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
