<!DOCTYPE html>

<html>
<head lang="en">
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/MoBanJS/img/favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,400" rel="stylesheet">
    <link href="~/MoBanJS/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/MoBanJS/css/style.css" rel="stylesheet" />
    <link href="~/MoBanJS/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/MoBanJS/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/MoBanJS/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/MoBanJS/plugins/jquery-ricksaw-chart/rickshaw.css" rel="stylesheet" />
    <link href="~/MoBanJS/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="~/MoBanJS/css/demo/jquery-steps.min.css" rel="stylesheet" />
    <link href="~/MoBanJS/plugins/summernote/summernote.min.css" rel="stylesheet" />
    <link href="~/MoBanJS/css/demo/jasmine.css" rel="stylesheet" />
    <link href="~/MoBanJS/plugins/pace/pace.min.css" rel="stylesheet" />
    <script src="~/MoBanJS/plugins/pace/pace.min.js"></script>
    <link href="~/MoBanJS/plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/MoBanJS/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet">
    <!--jQuery [ REQUIRED ]-->
    <script src="~/MoBanJS/js/jquery-2.1.1.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="~/MoBanJS/js/bootstrap.min.js"></script>
    
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="container" class="effect mainnav-sm navbar-fixed mainnav-fixed">
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#"> <i class="fa fa-navicon fa-lg"></i> </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links pull-right">
                        <li class="hidden-xs" id="toggleFullscreen">
                            <a class="fa fa-expand" data-toggle="fullscreen" href="#" role="button">
                                <span class="sr-only">Toggle fullscreen</span>
                            </a>
                        </li>
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right"> <img class="img-circle img-user media-object" src="~/MoBanJS/img/av1.png" alt="Profile Picture"> </span>
                                <div class="username hidden-xs">约翰多易</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right with-arrow">
                                <ul class="head-list">
                                    <li>
                                        <a href="#"> <i class="fa fa-sign-out fa-fw"></i> 登出 </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="boxed">
            <div id="content-container">
                <div id="page-content">
                    <div class="row">
                        <div class="eq-height">
                            <div class="col-lg-6 eq-box-sm">
                                <div class="panel" style="margin-top:100px">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="mainnav-container">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <i class="fa fa-forumbee brand-icon"></i>
                        <div class="brand-title">
                            <span class="brand-text">操作栏</span>
                        </div>
                    </a>
                </div>
                <div id="mainnav">
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="mainnav-menu" class="list-group">
                                    <li class="list-header">导航</li>
                                    <li> <a href="/Admin/Index"> <i class="fa fa-home"></i> <span class="menu-title"> 主页 </span> </a> </li>
                                    <li> <a href="/UserInfo/UserInfoIndex"> <i class="fa fa-edit"></i> <span class="menu-title"> 用户信息 </span> </a> </li>
                                    <li> <a href="/Order/Show"> <i class="fa fa-briefcase"></i> <span class="menu-title"> 订单信息 </span> </a> </li>
                                    <li> <a href="/Home/Show"> <i class="fa fa-briefcase"></i> <span class="menu-title"> 房间信息 </span> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>

<!--Fast Click [ OPTIONAL ]-->
<script src="~/MoBanJS/plugins/fast-click/fastclick.min.js"></script>
<!--Jasmine Admin [ RECOMMENDED ]-->
<script src="~/MoBanJS/js/scripts.js"></script>
<!--Jquery Nano Scroller js [ REQUIRED ]-->
<script src="~/MoBanJS/plugins/nanoscrollerjs/jquery.nanoscroller.min.js"></script>
<!--Metismenu js [ REQUIRED ]-->
<script src="~/MoBanJS/plugins/metismenu/metismenu.min.js"></script>
<!--Switchery [ OPTIONAL ]-->
<script src="~/MoBanJS/plugins/switchery/switchery.min.js"></script>
<!--Bootstrap Select [ OPTIONAL ]-->
<script src="~/MoBanJS/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<!--DataTables [ OPTIONAL ]-->
<script src="~/MoBanJS/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/MoBanJS/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/MoBanJS/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<!--Fullscreen jQuery [ OPTIONAL ]-->
<script src="~/MoBanJS/plugins/screenfull/screenfull.js"></script>
<!--DataTables Sample [ SAMPLE ]-->
<script src="~/MoBanJS/js/demo/tables-datatables.js"></script>

<script src="~/MoBanJS/plugins/parsley/parsley.min.js"></script>
<script src="~/MoBanJS/plugins/jquery-steps/jquery-steps.min.js"></script>
<script src="~/MoBanJS/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="~/MoBanJS/plugins/masked-input/bootstrap-inputmask.min.js"></script>
<script src="~/MoBanJS/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
<script src="~/MoBanJS/plugins/flot-charts/jquery.flot.min.js"></script>
<script src="~/MoBanJS/plugins/flot-charts/jquery.flot.resize.min.js"></script>
<script src="~/MoBanJS/plugins/flot-charts/jquery.flot.spline.js"></script>
<script src="~/MoBanJS/plugins/flot-charts/jquery.flot.pie.min.js"></script>
<script src="~/MoBanJS/plugins/moment/moment.min.js"></script>
<script src="~/MoBanJS/plugins/moment-range/moment-range.js"></script>
<script src="~/MoBanJS/plugins/flot-charts/jquery.flot.categories.js"></script>
<script src="~/MoBanJS/plugins/jquery-ricksaw-chart/js/raphael-min.js"></script>
<script src="~/MoBanJS/plugins/jquery-ricksaw-chart/js/d3.v2.js"></script>
<script src="~/MoBanJS/plugins/jquery-ricksaw-chart/js/rickshaw.min.js"></script>
<script src="~/MoBanJS/plugins/jquery-ricksaw-chart/rickshaw.js"></script>
<script src="~/MoBanJS/plugins/summernote/summernote.min.js"></script>
<script src="~/MoBanJS/plugins/screenfull/screenfull.js"></script>
<script src="~/MoBanJS/js/demo/wizard.js"></script>
<script src="~/MoBanJS/js/demo/form-wizard.js"></script>
<script src="~/MoBanJS/js/demo/dashboard-v2.js"></script>